/* -------------------------------------
[Master Stylesheet]

Version: v1.0.0
Created: Nov 8, 2019
Last Updated: Nov 8, 2019

[Table of Contents]    
    * Google Fonts
    * Core Styles
        + Reboot CSS
            + Reset CSS
            + Shortcode CSS
            + Hero CSS
            + Newsletter CSS
            + Event CSS
            + Features Post CSS
            + Pagination CSS
            + BLog CSS
            + Comment CSS
            + Pricing CSS
            + Ticket CSS
            + Google Maps CSS
            + Testimonial CSS
            + Speakers CSS
            + Sponsor CSS
            + Contact CSS
            + Gallery CSS
            + Event 2 CSS
            + Header CSS
            + Advanced CSS
            + Event Schudle CSS
            + Contact 2 CSS
            + Footer CSS
            + Breadcrumb CSS
            + Responsive CSS
------------------------------------- */

/* -------------------------------------
# [font-family]
'Roboto', 'Raleway';
------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900|Roboto:300,400,500,700,900&display=swap');


/* Reset CSS */
body,
html {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #141414;
}

a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    outline: none;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    display: inline-block;
    color: #333;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #e73c57;
}

ul li {
    list-style: none;
}

p {
    line-height: 1.8;
    font-size: 14px;
    color: #666;
}

img {
    max-width: 100%;
}

/* Shortcode CSS */

#scrollUp {
    width: 35px;
    height: 35px;
    background-color: #e73c57;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 0 12px;
}

.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.sp-120 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.sp-120-0 {
    padding-top: 100px;
    padding-bottom: 0;
}

.sp-0-120 {
    padding-top: 0;
    padding-bottom: 100px;
}

.sec_header {
    padding-right: 2rem;
    position: relative;
    margin-bottom: 3rem;
    z-index: 1;
}

.sec_header:before {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 10px;
    height: calc(100% - 10px);
    background-color: #d4d4d4;
}

.sec_header::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 10px;
    height: calc(70% - 10px);
    background: #e73c57;
}

.sec_header h2 {
    color: #141414;
    text-align: right;
    font-weight: 800;
}

.sec_header p {
    color: #6f6f6f;
    text-align: right;
    margin: 0;
}

.sec_header_left {
    padding-left: 2rem;
    position: relative;
    margin-bottom: 3rem;
    z-index: 1;
}

.sec_header_left:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 10px;
    height: calc(100% - 10px);
    background-color: #d4d4d4;
}

.sec_header_left:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 10px;
    height: calc(70% - 10px);
    background: #e73c57;
}

.sec_header_left h2 {
    color: #141414;
    font-weight: 800;
}

.sec_header_left p {
    color: #6f6f6f;
    margin: 0;
}

.page_title {
    text-align: center;
    position: relative;
    padding-top: 130px;
}

.page_title h2 {
    color: #e73c57;
    text-transform: uppercase;
}

.page_title h2 span {
    color: #fff;
}

.page_title h4 {
    color: #fff;
    padding-top: 30px;
}

.sponsor .protfolio_content .gallery_item .slides .mix {
    display: none;
}

.bg-gray {
    background-color: #f8f8ff;
}

/* Hero CSS */
.main_page {
    background-size: cover;
    position: relative;
    height: 966px;
    z-index: 2;
    background-position: center center;
    background-attachment: fixed;
}

.main_page:before {
    content: '';
    position: absolute;
    background-color: #070a57;
    opacity: 0.7;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.main_page>.container {
    height: 804px;
    padding-top: 91px;
}

.main_page .count_down {
    text-align: center;
    position: relative;
}

.main_page .count_down h6 {
    background: #e73c57;
    padding: 12px 23px;
    color: #fff;
    border-radius: 25px 0;
    display: inline-block;
}

.main_page .count_down h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    font-size: 3rem;
    font-weight: 800;
}

.main_page .count_down h2 span {
    color: #e73c57;
}

.main_page .count_down h4 {
    color: #fff;
}

.main_page .count_down ul {
    margin: 80px 0 0 0;
    padding: 0;
}

.main_page .count_down ul li {
    border: 2px solid #4e6269;
    padding: 24px 0;
    border-radius: 60px 0;
    text-align: center;
    width: 170px;
    margin: 0 16px;
    margin: 0 1rem;
}

.main_page .count_down ul li span {
    color: #fff;
    position: relative;
    display: inline-block;
    font-weight: 700 !important;
    font-size: 48px;
}

.main_page .count_down ul li span:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 32px;
    height: 3px;
    background: #e73c57;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.main_page .count_down ul li p {
    color: #ebebeb !important;
    text-transform: uppercase;
    padding-top: 20px;
    margin: 0;
}

.main_page .count_down ul .minit {
    border-radius: 0 60px;
}

.main_page .event_info {
    background: #e73c57;
    padding: 40px 0 35px 0;
    position: absolute;
    bottom: 0;
    border-radius: 80px 80px 0 0;
    z-index: 55;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 1200px;
}

.main_page .event_info .event_info_describe {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 30px;
}

.main_page .event_info .row .col-12:last-child .event_info_describe {
    border-right: 0;
}

.main_page .event_info .event_info_describe .item .icon_side {
    padding-right: 30px;
}

.main_page .event_info .event_info_describe .item .icon_side a {
    display: block;
    border-radius: 30px 0;
    border: 1px solid #f8cac5;
}

.main_page .event_info .event_info_describe .item .icon_side a i {
    height: 80px;
    width: 80px;
    color: #fff;
    font-size: 33px;
    line-height: 82px;
    text-align: center;
}

.main_page .event_info .event_info_describe .item .icon_side a:hover {
    background: #d74132;
    border-radius: 30px 0;
}

.main_page .event_info .event_info_describe .item .media-body {
    color: #fff;
}

.main_page .event_info .event_info_describe .item .media-body h3 {
    margin-bottom: 10px;
}

.main_page .event_info .event_info_describe .item .media-body p {
    margin: 0;
    font-size: 14px;
}

/* Newsletter CSS */
.newsletter {
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    text-align: center;
    z-index: 2;
}

.newsletter:before {
    content: '';
    position: absolute;
    background-color: #070a57;
    opacity: 0.7;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.newsletter .content {
    position: relative;
}

.newsletter .content h2 {
    color: #fff;
    padding-bottom: 36px;
    margin-bottom: 0;
}

.newsletter .content h2 span {
    color: #ef3b35;
    font-weight: 800;
}

.newsletter .content form .input-group .form-control {
    border-radius: 35px 0 0 35px;
    background: #fff;
    border: 0;
    padding-left: 35px;
    text-transform: capitalize;
    height: 60px;
    width: 390px;
    color: #666666;
    font-size: 13px;
}

.newsletter .content form .input-group .form-control:focus {
    border: 0;
}

.newsletter .content form .input-group .form-control.placeholder {
    text-transform: uppercase;
    color: #666666;
}

.newsletter .content form .input-group .form-control:-moz-placeholder {
    text-transform: uppercase;
    color: #666666;
}

.newsletter .content form .input-group .form-control::-webkit-input-placeholder {
    text-transform: uppercase;
    color: #666666;
}

.newsletter .content form .input-group .sub_btn {
    border-radius: 0 35px 35px 0;
    background: #ef3b35;
    padding-right: 15px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    height: 60px;
    width: 200px;
    display: block;
    line-height: 60px;
}

.newsletter .content form .input-group .sub_btn:hover {
    background: #d74132;
}

.newsletter .content form .input-group .sub_btn:focus {
    border: none;
    outline: none;
}

/* Event CSS */
.event .event_inside .event_left {
    background: #f8f8ff;
}

.event .event_inside .event_left .event_describe {
    padding: 32px;
    padding: 2rem;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.event .event_inside .event_left .event_describe:hover,
.event .event_inside .event_left .event_describe:focus {
    background-color: #fff;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 32px 8px rgba(47, 91, 234, 0.125);
    box-shadow: 0 0 32px 8px rgba(47, 91, 234, 0.125);
    z-index: 100;
}

.event_left .row .col-12:first-child .event_describe {
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.event_left .row .col-12:last-child .event_describe {
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

.event .event_inside .event_left .event_describe .media .icon_side {
    padding-right: .5rem;
}

.event .event_inside .event_left .event_describe .media .icon_side a {
    display: block;
}

.event .event_inside .event_left .event_describe .media .icon_side a i {
    background-color: #e73c57;
    color: #fff;
    height: 60px;
    width: 60px;
    text-align: center;
    border: 5px solid #ebebeb;
    border-radius: 20px 0;
    font-size: 30px;
    line-height: 50px;
}

.event .event_inside .event_left .event_describe .media .icon_side a:hover i {
    background-color: #e73c57;
    border: 5px solid #f4c5c0;
}

.event .event_inside .event_left .event_describe .media .media-body h5 {
    text-transform: capitalize;
    font-size: 1.125rem;
}

.event .event_inside .event_left .event_describe:hover .media .media-body h5 {
    color: #e73c57;
}

.event .event_inside .event_left .event_describe p {
    padding-top: 1rem;
    margin-bottom: 0;
}

.event .event_inside .event_right {
    padding: 0;
    border-radius: 0 50px 50px 0;
    background-size: cover;
    background-position: center center;
}

.event .event_inside .event_right img {
    border-radius: 0 50px 50px 0;
}

.event .pb {
    padding-bottom: 80px;
}

.event.tickets {
    padding-bottom: 110px;
}

/* Features Post CSS */

.feature-post {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 50px 0;
}

.feature-post .post-meta {
    position: absolute;
    background-color: rgba(7, 10, 87, 0.78);
    border-radius: 50px 0;
    bottom: 0;
    padding: 40px;
    right: 0;
    left: 0;
    z-index: 10;
}

.feature-post .post-meta .post-date {
    display: inline-block;
    padding: 10px 18px;
    border-radius: 22px 0;
    background-color: #e73c57;
    color: #fff;
    font-size: 14px;
}

.feature-post .post-meta .post-title {
    font-size: 18px;
    display: block;
    margin: 16px 0 12.8px;
    margin: 1rem 0 0.8rem;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
}

.feature-post .post-meta .post-title:hover {
    color: #e73c57;
}

.feature-post .post-meta p {
    margin-bottom: 0;
    color: #fff;
}

.single-blog-post {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.single-blog-post:last-child {
    margin-bottom: 0;
}

.single-blog-post .post-date {
    position: relative;
    z-index: 1;
    border-radius: 0 25px;
    background-position: center center;
    background-size: cover;
    margin-right: 30px;
    padding: 30px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    line-height: 1.1;
    font-weight: 700;
}

.single-blog-post .post-date:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: #070a57;
    opacity: 0.8;
    border-radius: 0 26px;
    z-index: -1;
}

.single-blog-post .post-meta .post-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
}

.single-blog-post .post-meta p {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 8px;
    padding-bottom: .5rem;
    margin-bottom: 8px;
    margin-bottom: .5rem;
}

.single-blog-post .post-meta .read-more-btn {
    font-size: 12px;
    color: #999;
    letter-spacing: .5px;
    text-transform: capitalize;
}

.single-blog-post .post-meta .read-more-btn:hover {
    color: #e73c57;
}

/* Pagination CSS */
.blogs .page_turning {
    border-top: 1px solid #ebebeb;
    padding-top: 35px;
    display: block;
}

.blogs .page_turning a {
    color: #999;
}

.blogs .page_turning a i {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
}

.blogs .page_turning a:hover {
    color: #f04b38;
}

.blogs .page_turning .previous {
    float: left;
}

.blogs .page_turning .previous a i {
    margin-right: 15px;
}

.blogs .page_turning .next {
    float: right;
}

.blogs .page_turning .next a i {
    margin-left: 15px;
}

.blogs .mb0 {
    margin-bottom: 0;
}

/* BLog CSS */

.blogs .blogs_inner .blog_item .item_image {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 320px;
    flex: 0 0 320px;
    width: 320px;
    max-width: 320px;
}

.blogs .blogs_inner .blog_item .item_image img {
    border-radius: 0 50px;
}

.blogs .blogs_inner .blog_item .item_image .item_icon {
    position: absolute;
    top: 6px;
    display: block;
}

.blogs .blogs_inner .blog_item .item_image .item_icon a {
    display: block;
    background: #e73c57;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 0 25px;
}

.blogs .blogs_inner .blog_item .item_image .item_icon a i {
    font-size: 36px;
    line-height: 80px;
    color: #fff;
}

.blogs .blogs_inner .blog_item .item_image .item_icon_left {
    left: 6px;
}

.blogs .blogs_inner .blog_item .item_image .item_icon_left a {
    border-radius: 0 25px;
}

.blogs .blogs_inner .blog_item .item_image .item_icon_right {
    right: 6px;
}

.blogs .blogs_inner .blog_item .item_image .item_icon_right a {
    border-radius: 25px 0;
}

.blogs .blogs_inner .blog_item .item_image_right img {
    border-radius: 50px 0;
}


.blogs .blogs_inner .blog_item .post_item_image img {
    width: 100%;
    height: 100%;
}

.blogs .blogs_inner .blog_item .item_describe {
    overflow: hidden;
    padding-left: 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 320px);
    flex: 0 0 calc(100% - 320px);
    max-width: calc(100% - 320px);
    width: calc(100% - 320px);
}

.blogs .blogs_inner .blog_item .item_describe .media .media-left {
    padding-right: 30px;
}

.blogs .blogs_inner .blog_item .item_describe .media .media-left a {
    position: relative;
    display: block;
}

.blogs .blogs_inner .blog_item .item_describe .media .media-left a:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 20px;
    width: 20px;
    background: #000;
}

.blogs .blogs_inner .blog_item .item_describe .media .media-left a img {
    border-radius: 0 30px;
    width: 100px;
    height: 105px;
}

.blogs .blogs_inner .blog_item .item_describe .media .media-left a .blog_time {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(44, 62, 80, 0.85);
    display: block;
    width: 100px;
    height: 105px;
    border-radius: 0 25px;
    color: #fff;
    text-align: center;
}

.blogs .blogs_inner .blog_item .item_describe .media .media-left a .blog_time h2 {
    padding-top: 15px;
    margin-bottom: 0;
    color: #fff;
}

.blogs .blogs_inner .blog_item .item_describe .media .media-left a .blog_time h4 {
    margin-bottom: 0;
    color: #fff;
}

.blogs .blogs_inner .blog_item .item_describe .media .media-body .media-heading {
    color: #141414;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
}

.blogs .blogs_inner .blog_item .item_describe .media .media-body .media-heading:hover {
    color: #e73c57;
}

.blogs .blogs_inner .blog_item .item_describe .media .media-body ul {
    list-style: none;
    padding: 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-top: 20px;
}

.blogs .blogs_inner .blog_item .item_describe .media .media-body ul li {
    display: inline-block;
}

.blogs .blogs_inner .blog_item .item_describe .media .media-body ul li a {
    line-height: 34px;
    background: transparent;
}

.blogs .blogs_inner .blog_item .item_describe .media .media-body ul li a i {
    font-size: 14px;
    color: #777;
}

.blogs .blogs_inner .blog_item .item_describe .media .media-body ul li a span {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}

.blogs .blogs_inner .blog_item .item_describe .media .media-body ul li a:hover i {
    color: #e73c57;
}

.blogs .blogs_inner .blog_item .item_describe p {
    color: #6f6f6f;
    border-bottom: 1px solid #f8f8ff;
    padding-top: 22px;
    padding-bottom: 20px;
}

.blogs .blogs_inner .blog_item .item_describe a {
    color: #2c3e50;
    text-transform: capitalize;
}

.blogs .blogs_inner .blog_item .item_describe a:hover {
    color: #e73c57;
}

.blogs .blogs_inner .blog_item .item_describe a i {
    margin-left: 5px;
}

.blogs .blogs_inner .blog_item .post_item_describe p {
    border-bottom: 0;
    margin: 0;
}

.blogs .blogs_inner .blog_item .post_item_describe p:first-child {
    padding: 40px 0 0;
}

.blogs .blogs_inner .blog_item .post_item_describe h6 {
    background: #f8f8ff;
    color: #2c3e50;
    position: relative;
    padding: 30px 30px 25px;
    border-radius: 0;
    line-height: 1.8;
}

.blogs .blogs_inner .blog_item .post_item_describe h6:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #e73c57;
    width: 3px;
    height: 100%;
}

.blogs .blogs_inner .blog_item .item_describe_right {
    padding-left: 0;
    padding-right: 50px;
}

.blogs .blogs_inner .pb25 {
    padding-bottom: 25px;
}

.blogs .blogs_inner .sharing {
    border-top: 1px solid #ebebeb;
}

.blogs .blogs_inner .sharing .share_left a {
    color: #2c3e50;
    line-height: 24px;
    vertical-align: middle;
}

.blogs .blogs_inner .sharing .share_left a i {
    font-size: 24px;
    color: #e73c57;
    margin-right: 15px;
    line-height: 24px;
    vertical-align: middle;
}

.blogs .blogs_inner .sharing .share_right h5 {
    float: left;
    color: #2c3e50;
    padding-top: 4px;
}

.blogs .blogs_inner .sharing .share_right .social_icon {
    float: left;
    padding-left: 15px;
}

.blogs .blogs_inner .sharing .share_right .social_icon li {
    display: inline-block;
}

.blogs .blogs_inner .sharing .share_right .social_icon li a {
    display: block;
}

.blogs .blogs_inner .sharing .share_right .social_icon li a .fa {
    border-radius: 25px;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    height: 24px;
    width: 24px;
    color: #fff;
}

.blogs .blogs_inner .sharing .share_right .social_icon li a .fa-rss {
    background: #fdb04a;
}

.blogs .blogs_inner .sharing .share_right .social_icon li a .fa-facebook {
    background: #617fc0;
}

.blogs .blogs_inner .sharing .share_right .social_icon li a .fa-twitter {
    background: #72bce0;
}

.blogs .blogs_inner .sharing .share_right .social_icon li a .fa-pinterest {
    background: #cd4951;
}

.blogs .blogs_inner .sharing .share_right .social_icon li a .fa-rss {
    background: #fdb04a;
}

.blogs .blogs_inner .sharing .share_right .social_icon li a .fa-vimeo {
    background: #70b1bf;
}

.blogs .blogs_inner .author {
    padding-top: 50px;
}

.blogs .blogs_inner .author h4 {
    padding-bottom: 30px;
}

.blogs .blogs_inner .author .members_area {
    padding: 15px;
    border: 1px solid #ebebeb;
    border-radius: 30px 0;
    background: #f8f8ff;
    margin-bottom: 30px;
}

/* Comment CSS */
.leave_comment {
    position: relative;
    z-index: 1;
    margin-top: 30px;
}

.leave_comment h4 {
    padding-bottom: 30px;
}

.leave_comment .form-control {
    width: 100%;
    height: 55px;
    padding: 20px 30px;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    font-size: 13px;
}

.leave_comment textarea.form-control {
    height: 150px;
}

.leave_comment button {
    width: 100%;
    border: none;
    background-color: #e73c57;
    color: #fff;
    text-transform: capitalize;
    height: 52px;
    border-radius: 30px;
}

.blogs .blogs_inner .author .members_area .member .media .media-left {
    padding-right: 15px;
}

.blogs .blogs_inner .author .members_area .member .media .media-left a {
    display: block;
}

.blogs .blogs_inner .author .members_area .member .media .media-left a img {
    border-radius: 30px 0;
    width: 120px;
    height: 120px;
}

.blogs .blogs_inner .author .members_area .member .media .member_details {
    position: relative;
}

.blogs .blogs_inner .author .members_area .member .media .member_details h5 {
    font-size: 16px;
}

.blogs .blogs_inner .author .members_area .member .media .member_details h6 {
    color: #666;
}

.blogs .blogs_inner .author .members_area .member .media .member_details a {
    width: 80px;
    height: 32px;
    background: transparent;
    color: #666;
    display: block;
    border: 1px solid #ebebeb;
    text-align: center;
    border-radius: 40px;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 13px;
    line-height: 30px;
}

.blogs .blogs_inner .author .members_area .member .media .member_details a:hover {
    background: #e73c57;
    color: #fff;
    border: 1px solid #e73c57;
}

.blogs .blogs_inner .author .members_area .member .media .member_details p {
    color: #6f6f6f;
}


/* Pricing CSS */
.pricing {
    text-align: center;
}

.pricing .table_part .table_part_inner {
    background: #fff;
    position: relative;
    border-radius: 0 50px;
    -webkit-box-shadow: 0 0 32px 8px rgba(47, 91, 234, 0.125);
    box-shadow: 0 0 32px 8px rgba(47, 91, 234, 0.125);
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.pricing .table_part .table_part_inner .table_head {
    border-radius: 0 50px;
    padding: 30px 0;
    position: relative;
    z-index: 1;
    background-position: center center;
    background-size: cover;
    margin-bottom: 10px;
}

.pricing .table_part .table_part_inner .table_head:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #070a57;
    border-radius: 0 50px;
    opacity: 0.8;
}

.pricing .table_part .table_part_inner .table_head h2 {
    color: #fff;
    position: relative;
}

.pricing .table_part .table_part_inner .table_head h6 {
    color: #e73c57;
    text-transform: uppercase;
    position: relative;
}

.pricing .table_part .table_part_inner .table_head i {
    font-size: 36px;
    color: #e73c57;
    position: absolute;
    top: -6px;
    right: 60px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.pricing .table_part .table_part_inner .table_heading {
    background: #f8f8ff;
    border: 1px solid #dde3e4;
    border-radius: 40px 0;
    position: relative;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.22);
}

.pricing .table_part .table_part_inner .table_heading h3 {
    text-transform: uppercase;
    padding-top: 30px;
    color: #2c3e50;
}

.pricing .table_part .table_part_inner .table_heading h6 {
    padding: 20px 0 30px;
    color: #999;
    font-size: 18px;
    line-height: 18px;
}

.pricing .table_part .table_part_inner ul {
    padding: 0 35px;
}

.pricing .table_part .table_part_inner ul li {
    border-bottom: 1px solid #e0e0e0;
}

.pricing .table_part .table_part_inner ul li a {
    padding: 20px 0;
    display: block;
    font-size: 13px;
    text-transform: uppercase;
}

.pricing .table_part .table_part_inner ul li a:hover {
    background: transparent;
}

.pricing .table_part .table_part_inner .buton {
    text-align: center;
    background: transparent;
    padding: 30px 0;
}

.pricing .table_part .table_part_inner .buton a {
    border: 2px solid #ebebeb;
    text-transform: capitalize;
    padding: 10px 24px 8px;
    border-radius: 42px;
}

.pricing .table_part .table_part_inner .buton a:hover {
    background-color: #e73c57;
    border: 2px solid #e73c57;
    color: #fff;
}

.pricing .table_part .table_part_inner .buton a:focus {
    outline: none;
}

.pricing .table_part .table_part_inner:hover {
    -webkit-box-shadow: 0 0 88px 8px rgba(47, 91, 234, 0.125);
    box-shadow: 0 0 88px 8px rgba(47, 91, 234, 0.125);
}

.pricing .table_part .table_part_inner:hover .buton a {
    background: #e73c57;
    border: 1px solid #e73c57;
    color: #fff;
}

.pricing .table_part .table_part_inner:hover .buton a:hover {
    background: #d74132;
}

.pricing .table_part .table_first {
    border-radius: 40px 0;
    position: relative;
    overflow: hidden;
}

.pricing .table_part .table_first .top_border {
    position: absolute;
    top: 0;
    left: 95px;
    text-align: center;
    display: block;
    background: #acacac;
    width: 170px;
    height: 3px;
    z-index: 999;
}

.pricing .table_part .table_first:hover .top_border {
    background: #e73c57;
}

.pricing .ticket_pricing .pricing_table_top {
    padding-bottom: 0;
}

/* Ticket CSS */
.ticket {
    background-size: cover;
    position: relative;
    z-index: 1;
    background-position: center center;
}

.ticket:before {
    content: '';
    position: absolute;
    background-color: #070a57;
    opacity: 0.7;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.ticket .booking_ticket {
    position: relative;
    text-align: center;
}

.ticket .booking_ticket h2 {
    color: #fff;
    padding-bottom: 36px;
    margin-bottom: 0;
    font-weight: 800;
}

.ticket .booking_ticket h2 span {
    color: #e73c57;
}

.ticket .booking_ticket .register_form {
    background: #202e3b;
    padding: 35px;
    border-radius: 50px 0;
}

.ticket .booking_ticket .register_form form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ticket .booking_ticket .register_form form .form-group label {
    width: 60px;
    height: 60px;
    background: #e73c57;
    margin: 0;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    max-width: 60px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.ticket .booking_ticket .register_form form .form-group label:hover,
.ticket .booking_ticket .register_form form .form-group label:focus,
.ticket .booking_ticket .register_form form .form-group label.active {
    background-color: #e73c57;
}

.ticket .booking_ticket .register_form form .form-group label i {
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    z-index: 3;
}

.ticket .booking_ticket .register_form form .form-group:hover label,
.ticket .booking_ticket .register_form form .form-group:focus label {
    background-color: #e73c57;
}

.ticket .booking_ticket .register_form form .form-group input {
    width: calc(100% - 60px);
    height: 60px;
    padding-left: 24px;
    text-transform: capitalize;
    position: relative;
    border-radius: 0;
    font-size: 12px;
    border: 0;
}

.ticket .booking_ticket .register_form form .form-group input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ticket .booking_ticket .register_form form a {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #e73c57;
    width: 100%;
    border-radius: 0 70px 70px 0;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    letter-spacing: 1px;
}

.ticket .booking_ticket .register_form form a:hover {
    background-color: #d74132;
}

.ticket .booking_ticket .register_form form .row .col-12:first-child .form-group label {
    border-radius: 70px 0 0 70px;
}

/* Google Maps CSS */
.google-maps iframe {
    width: 100%;
    height: 500px;
    border: 0;
    margin: 0;
    padding: 0;
}

.comment {
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.comment:before {
    content: '';
    position: absolute;
    background-color: #070a57;
    opacity: 0.7;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* Testimonial CSS */
.testimonial_item {
    position: relative;
    z-index: 1;
}

.testimonial_item .testimonial_text {
    padding: 30px 45px 30px 80px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 50px;
    margin-bottom: 30px;
}

.testimonial_item .testimonial_text p {
    color: #fff;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}

.testimonial_item .testimonial_text p span {
    color: #e73c57;
    position: absolute;
    top: -12px;
    left: -36px;
    font-size: 90px;
    line-height: 1;
}

.testimonial_item .testimonial_info {
    position: relative;
    z-index: 1;
}

.testimonial_item .testimonial_info .testimonial_img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
    width: 90px;
    max-width: 90px;
    margin-right: 30px;
}

.testimonial_item .testimonial_info .testimonial_img img {
    border-radius: 25px 0;
}

.testimonial_item .testimonial_info .testimonial_name span {
    font-size: 14px;
}

.testimonial_item .testimonial_info .testimonial_name .line {
    display: block;
    width: 42px;
    height: 3px;
    background-color: #e73c57;
    margin-top: 16px;
    margin-top: 1rem;
}

/* Speakers CSS */

.speakers .slider_area {
    position: relative;
    z-index: 1;
}

.speakers .slider_area .flexslider-2 .slides li img {
    border-radius: 50px 0 0 0;
}

.speakers .slider_area {
    margin: 0;
    border: 0;
}

.speakers .slider_area .slides li .speakers-img {
    border-radius: 50px 0 0 25px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.speakers .slider_area .slides li .speakers_right {
    background: #f8f8ff;
    padding: 40px;
}

.speakers .slider_area .slides li .speakers_right h4 {
    color: #141414;
    text-transform: uppercase;
}

.speakers .slider_area .slides li .speakers_right h6 {
    color: #e73c57;
}

.speakers .slider_area .slides li .speakers_right p {
    color: #6f6f6f;
}

.speakers .slider_area .slides li .speakers_right h5 {
    font-size: 16px;
    color: #404040;
}

.speakers .slider_area .slides li .speakers_right h5 i {
    margin-right: 11px;
}

.speakers .slider_area .slides li .speakers_right .following_events {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
    padding-left: 0;
}

.speakers .slider_area .slides li .speakers_right .following_events li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 20px;
}

.speakers .slider_area .slides li .speakers_right .following_events li a {
    padding: 0;
    font-size: 13px;
    line-height: 25px;
    color: #6f6f6f;
}

.speakers .slider_area .slides li .speakers_right .following_events li a span {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    background: #e4e4e4;
    color: #141414;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 0;
    text-align: center;
    display: block;
    float: left;
    margin-right: 10px;
}

.speakers .slider_area .slides li .speakers_right .following_events li:last-child {
    padding-bottom: 0;
}

.speakers .slider_area .slides li .speakers_right .following_events li:hover a {
    background: transparent;
    color: #e73c57;
}

.speakers .slider_area .slides li .speakers_right .following_events li:hover span {
    background: #e73c57;
    color: #fff;
}

.speakers .slider_area .slides li .speakers_right .followers {
    padding: 20px 0 0 0;
}

.speakers .slider_area .slides li .speakers_right .followers li {
    display: inline-block;
    padding-right: 13px;
}

.speakers .slider_area .slides li .speakers_right .followers li a {
    display: block;
    padding: 0;
    background: #ebebeb;
    color: #333;
    border-radius: 12px 0;
}

.speakers .slider_area .slides li .speakers_right .followers li a:hover,
.speakers .slider_area .slides li .speakers_right .followers li a:focus {
    background-color: #e73c57;
    color: #fff;
}

.speakers .slider_area .slides li .speakers_right .followers li a i {
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 15px;
    line-height: 35px;
}

.speakers .slider_area .slides li .speakers_right .followers li:last-child {
    padding-right: 0;
}

.speakers .slider_area .speaker_car {
    position: absolute;
    bottom: 30px;
    left: 0;
    background: transparent;
    border: 0;
    margin: 0;
    width: 551px;
}

.speakers .slider_area .speaker_car .flex-viewport {
    max-width: 80%;
    margin: 0 auto;
}

.speakers .slider_area .speaker_car .custom-navigation .flex-prev {
    font-size: 30px;
    color: #fff;
    background: #999;
    height: 70px;
    width: 30px;
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    line-height: 70px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.speakers .slider_area .speaker_car .custom-navigation .flex-prev:hover {
    background: #e73c57;
}

.speakers .slider_area .speaker_car .custom-navigation .flex-next {
    font-size: 30px;
    color: #fff;
    background: #999;
    height: 70px;
    width: 30px;
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    right: -4px;
    z-index: 2;
    line-height: 70px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.speakers .slider_area .speaker_car .custom-navigation .flex-next:hover {
    background: #e73c57;
}

.speakers .slider_area .speaker_car .slides li {
    position: relative;
}

.speakers .slider_area .speaker_car .slides li:before {
    content: '';
    position: absolute;
    top: -200px;
    left: 0;
    display: block;
    width: 70px;
    height: 70px;
    background: rgba(3, 50, 66, 0.5);
}

.speakers .slider_area .speaker_car .slides li.active:before {
    top: 0;
}

.speakers .slider_area .speaker_car .slides li img {
    width: 70px;
    height: 70px;
}

.speakers .slider_area #carousel-2 {
    width: 100%;
    margin: 0;
    position: relative;
}

.speakers .slider_area #carousel-2 .flex-viewport {
    max-width: 91.5%;
    margin: 0 auto;
}

.speakers .slider_area #carousel-2 .flex-viewport ul li img {
    max-width: 100%;
}

.speakers .slider_area #carousel-2 .custom-navigation {
    padding-top: 15px;
}

.speakers .slider_area #carousel-2 .custom-navigation .flex-prev {
    font-size: 30px;
    color: #fff;
    background: #999;
    height: 140px;
    width: 40px;
    display: block;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 15px;
    left: 0;
    line-height: 140px;
    border-radius: 0 0 0 15px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.speakers .slider_area #carousel-2 .custom-navigation .flex-prev:hover {
    background: #e73c57;
}

.speakers .slider_area #carousel-2 .custom-navigation .flex-next {
    font-size: 30px;
    color: #fff;
    background: #999;
    height: 140px;
    width: 40px;
    display: block;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 2;
    line-height: 140px;
    border-radius: 0 0 15px 0;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.speakers .slider_area #carousel-2 .custom-navigation .flex-next:hover {
    background: #e73c57;
}

.speakers .slider_area #carousel-2 .slides li {
    display: block;
    margin: 0 0px;
}

.speakers .slider_area #carousel-2 .slides li:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    background: rgba(3, 50, 66, 0.85);
}

.speakers .slider_area #carousel-2 .slides li img {
    width: 140px;
    height: 140px;
}

.speakers .speakers_slider_area .slides li img {
    border-radius: 50px 0 0 0;
}

/* Sponsor CSS */
.sponsor {
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    background-position: center center;
}

.sponsor:before {
    content: '';
    position: absolute;
    background-color: #070a57;
    opacity: 0.7;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.sponsor h2 {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    padding-bottom: 50px;
    margin-bottom: 0;
    font-weight: 800;
}

.sponsor h2 span {
    color: #e73c57;
}

.single-sponsor a {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.portfolio-menu {
    display: inline-block;
    padding: 20px 40px;
    border-radius: 0 40px;
    background-color: rgba(3, 50, 66, 0.9);
}

.portfolio-menu .btn {
    position: relative;
    z-index: 1;
    padding: 0 15px;
    color: #fff;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-menu .btn.active {
    color: #e73c57;
}

.portfolio-menu .btn:after {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #fff;
    content: "";
    top: 0;
    right: -7px;
    z-index: 1;
}

.portfolio-menu .btn:last-child:after {
    display: none;
}

/* Contact CSS */
.contact-area {
    position: relative;
    margin-bottom: -7px;
}

.contact-area #map {
    height: 475px;
    width: 100%;
    display: block;
}

.contact-area .contact_info {
    background: rgba(3, 50, 66, 0.9551);
    width: 410px;
    padding: 45px 50px;
    position: absolute;
    top: 0;
    left: 20%;
    height: calc(100% - 6px);
}

.contact-area .contact_info h3 {
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    border-bottom: 1px solid rgba(153, 153, 153, 0.15);
    text-align: center;
    padding-bottom: 20px;
}

.contact-area .contact_info .widget ul {
    list-style: none;
    padding-top: 15px;
    padding-left: 0;
    color: #e2e2e2;
    margin: 0;
}

.contact-area .contact_info .widget ul li {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 7px 0;
}

.contact-area .contact_info .widget ul li i {
    float: left;
    color: #e73c57;
    line-height: 30px;
    font-size: 20px;
    width: 20px;
    text-align: center;
}

.contact-area .contact_info .widget ul li i.fa-map-marker {
    line-height: 60px;
}

.contact-area .contact_info .widget ul li .fleft {
    float: left;
    padding-left: 26px;
}

.contact-area .contact_info .widget ul li .fleft a {
    color: #e2e2e2;
}

.contact-area .contact_info .widget ul li:nth-child(3) i {
    font-size: 18px;
}

.contact-area .contact_info .widget ul li:nth-child(4) i {
    font-size: 22px;
}

.contact-area .contact_info .followers {
    padding: 26px 0 0;
    text-align: center;
}

.contact-area .contact_info .followers li {
    display: inline-block;
    padding-right: 13px;
}

.contact-area .contact_info .followers li a {
    padding: 0;
    background: rgba(204, 204, 204, 0.6);
    color: #fffcfc;
    border-radius: 12px 0;
    height: 44px;
    width: 44px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    border: 3px solid #3b5e69;
}

.contact-area .contact_info .followers li a:hover,
.contact-area .contact_info .followers li a:focus {
    background: #e73c57;
    border: 3px solid #794342;
}

.contact-area .contact_info .followers li a i {
    display: block;
    line-height: 40px;
}

.contact-area .contact_info .followers li:last-child {
    padding-right: 0;
}

/* Gallery CSS */
.gallery .sec_header {
    text-transform: capitalize;
}

.gallery .gallery_inner .item {
    padding: 0;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.gallery .gallery_inner .item a[data-lightbox] {
    position: relative;
    display: block;
}

.gallery .gallery_inner .item a[data-lightbox] .item_bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 13px solid rgba(231, 76, 60, 0.9);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    cursor: pointer;
    opacity: 0;
}

.gallery .gallery_inner .item a[data-lightbox] .item_bg .item_hover {
    background: rgba(3, 50, 66, 0.8);
    width: 100%;
    height: 100%;
    overflow: visible;
}

.gallery .gallery_inner .item a[data-lightbox] .item_bg .item_hover:before {
    content: '';
    position: absolute;
    left: 13px;
    top: 13px;
    right: 13px;
    bottom: 13px;
    display: block;
    background: rgba(3, 50, 66, 0.9);
    text-align: center;
}

.gallery .gallery_inner .item a[data-lightbox] .item_bg .search:before {
    content: '';
    position: absolute;
    top: 30%;
    left: 50%;
    background: #e73c57;
    width: 1px;
    height: 40%;
}

.gallery .gallery_inner .item a[data-lightbox] .item_bg .search:after {
    content: '';
    position: absolute;
    left: 30%;
    top: 50%;
    background: #e73c57;
    height: 1px;
    width: 40%;
}

.gallery .gallery_inner .item a[data-lightbox]:hover .item_bg {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.gallery .gallery_inner .item a[data-lightbox]:hover .item_back {
    left: 0;
}

.gallery .gallery_inner .item .item_back {
    background: rgba(3, 50, 66, 0.95);
    padding: 85px 18px 0;
    position: absolute;
    top: 0;
    left: -500px;
    height: 100%;
    width: 100%;
}

.gallery .gallery_inner .item .item_back h4 {
    color: #fff;
    padding-left: 10px;
}

.gallery .gallery_inner .item .item_back p {
    color: #d4d4d4;
    padding-top: 20px;
    padding-left: 10px;
}

.gallery .gallery_inner .item .item_back .more {
    border-top: 1px solid #2f4a53;
    padding-top: 20px;
}

.gallery .gallery_inner .item .item_back .more a {
    text-transform: capitalize;
    color: #e73c57;
    padding-left: 10px;
}

/* Event 2 CSS */
.biggest_event {
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.biggest_event .biggest_event_header {
    text-align: center;
    padding-bottom: 80px;
}

.biggest_event .biggest_event_header h2 {
    font-size: 30px;
    color: #141414;
    padding-bottom: 20px;
}

.biggest_event .biggest_event_header h6 {
    color: #999;
    width: 60%;
    display: inline-block;
}

.biggest_event .biggest_event_describe p {
    color: #6f6f6f;
    text-align: justify;
}

.biggest_event .biggest_event_describe p:last-child {
    margin-bottom: 0;
}

.biggest_event .biggest_event_describe .biggest_event_left p:first-child {
    float: left;
}

.biggest_event .biggest_event_describe .biggest_event_left p:first-child span {
    color: #fff;
    padding-top: 0;
    float: left;
    background: #e73c57;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px 0;
    width: 50px;
    height: 90px;
    margin-right: 18px;
    font-size: 36px;
    line-height: 90px;
    font-weight: 700;
}

/* Header CSS */
.header-area {
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.menu_part {
    background: #151515;
    padding: 22px 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.menu_part .navbar-nav {
    position: relative;
    z-index: 1;
}

.menu_part .navbar-nav li {
    position: relative;
    z-index: 1;
    padding-left: 8px;
    padding-left: .5rem;
    padding-right: 8px;
    padding-right: .5rem;
}

.menu_part .navbar-nav li:before {
    content: '';
    position: absolute;
    background-color: #e73c57;
    width: 70%;
    height: 2px;
    left: 15%;
    bottom: 5px;
    opacity: 0;
    visibility: hidden;
}

.menu_part .navbar-nav li.active:before {
    opacity: 1;
    visibility: visible;
}

.menu_part .navbar-nav li a {
    color: #fff;
    font-size: 14px;
    background: transparent;
    text-shadow: none;
    font-weight: 700;
}

.menu_part .navbar-nav li a:hover,
.menu_part .navbar-nav li.active a,
.menu_part .navbar-nav li a:focus {
    color: #e73c57;
}

.menu_part .navbar-collapse {
    position: relative;
}

.menu_part:before {
    content: '';
    position: absolute;
    background: #151515;
    top: 0;
    left: -60px;
    height: 100%;
    width: 60px;
    border-radius: 0px 0px 0px 75px;
}

.menu_part:after {
    content: '';
    position: absolute;
    background: #151515;
    top: 0;
    right: -60px;
    height: 100%;
    width: 60px;
    border-radius: 0px 0px 75px 0px;
}

.get-ticket .btn {
    background-color: #e73c57;
    margin-left: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.get-ticket .btn:hover {
    background-color: #e74c3c;
}

/* Advanced CSS */

.advanced .advanced_bg .advanced_left {
    background-position: center center;
    background-size: cover;
    padding: 30px;
    border-top: 18px solid #f8f8ff;
    border-left: 18px solid #f8f8ff;
    border-bottom: 18px solid #f8f8ff;
    position: relative;
}

.advanced .advanced_bg .advanced_left:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
}

.advanced .advanced_bg .advanced_left .advanced_left_inner {
    position: relative;
}

.advanced .advanced_bg .advanced_left .advanced_left_inner h3 {
    color: #e73c57;
    padding-bottom: 25px;
    border-bottom: 1px solid #e73c57;
}

.advanced .advanced_bg .advanced_left .advanced_left_inner p {
    color: #6f6f6f;
    padding-top: 20px;
    margin: 0;
}

.advanced .advanced_bg .advanced_left .advanced_left_inner ul {
    padding-top: 30px;
}

.advanced .advanced_bg .advanced_left .advanced_left_inner ul li {
    background: #f8f8ff;
    margin-bottom: 25px;
    border-radius: 15px 0;
}

.advanced .advanced_bg .advanced_left .advanced_left_inner ul li a {
    color: #555555;
    padding: 0;
}

.advanced .advanced_bg .advanced_left .advanced_left_inner ul li a i {
    font-size: 18px;
    background: #a5a6a6;
    border-radius: 15px 0;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.advanced .advanced_bg .advanced_left .advanced_left_inner ul li a span {
    padding-left: 24px;
}

.advanced .advanced_bg .advanced_left .advanced_left_inner ul li a:hover {
    background: transparent;
    border-radius: 15px 0;
    color: #e73c57;
}

.advanced .advanced_bg .advanced_left .advanced_left_inner ul li a:hover i {
    background: #e73c57;
}

.advanced .advanced_bg .advanced_left .advanced_left_inner ul li:last-child {
    margin-bottom: 0;
}

.advanced .advanced_bg .advanced_right {
    padding: 0;
    position: relative;
}

.advanced .advanced_bg .advanced_right:before {
    content: '';
    display: block;
    position: absolute;
    top: 17px;
    left: 17px;
    right: 27px;
    bottom: 17px;
    background: rgba(3, 50, 66, 0.75);
    border-radius: 0 40px 40px 0;
}

.advanced .advanced_bg .advanced_right .owl-carousel .item {
    position: relative;
}

.advanced .advanced_bg .advanced_right .owl-carousel .item:before {
    content: '';
    position: absolute;
    background: rgba(3, 50, 66, 0.75);
    top: 30px;
    left: -380px;
    width: 370px;
    height: 532px;
    border-radius: 0 25px 25px 0;
}

.advanced .advanced_bg .advanced_right .owl-carousel .item img {
    height: 583px;
    padding-right: 15px;
}

.advanced .advanced_bg .advanced_right .owl-controls .owl-nav {
    text-transform: uppercase;
}

.advanced .advanced_bg .advanced_right .owl-prev {
    position: absolute;
    float: left;
    left: 0;
    bottom: 50px;
    text-align: center;
    padding: 20px 10px;
    background: #999;
    color: #fff;
    width: 45%;
    margin-left: 5%;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.advanced .advanced_bg .advanced_right .owl-prev a {
    color: #fff;
}

.advanced .advanced_bg .advanced_right .owl-prev a i {
    margin-right: 5px;
}

.advanced .advanced_bg .advanced_right .owl-prev:hover {
    background: #e73c57;
}

.advanced .advanced_bg .advanced_right .owl-next {
    position: absolute;
    float: left;
    padding: 20px 10px;
    right: 0;
    bottom: 50px;
    text-align: center;
    background: #999;
    color: #fff;
    width: 45%;
    margin-right: 4%;
    margin-left: 1%;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.advanced .advanced_bg .advanced_right .owl-next a {
    color: #fff;
}

.advanced .advanced_bg .advanced_right .owl-next a i {
    margin-left: 5px;
}

.advanced .advanced_bg .advanced_right .owl-next:hover {
    background: #e73c57;
}

/* Event Schudle CSS */

.events_schedule_tab {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 2px 0px rgba(47, 91, 234, 0.125);
    box-shadow: 0 1px 2px 0px rgba(47, 91, 234, 0.125);
    border-radius: 50px 0 0 50px;
}

.events_schedule_tab .nav.nav-tabs {
    padding: 65px 0 65px 50px;
    border-radius: 50px 0 0 50px;
    background-size: cover;
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 170px;
    flex: 0 0 170px;
    max-width: 170px;
    width: 170px;
}

.events_schedule_tab .nav-tabs .nav-item {
    margin-bottom: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    width: 120px;
    max-width: 120px;
}

.events_schedule_tab .nav-link {
    border: 0;
    display: block;
    padding: 20px 0;
    padding: 1.25rem 0;
    background-color: #fff !important;
    text-align: center;
    border-radius: 0 !important;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    z-index: 1;
}

.events_schedule_tab .nav-link.active {
    background-color: #e74c3c !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #e73c57;
}

.events_schedule_tab .nav-link.active h5 {
    color: #fff;
}

.events_schedule_tab .nav-link.active p {
    color: #fff;
}

.events_schedule_tab .nav-link p {
    line-height: 1;
}

.events_schedule_tab .nav-link.active:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid #e73c57;
    border-top: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    right: -24px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.events_schedule_tab .nav-tabs .nav-item:first-child .nav-link {
    border-radius: 40px 0 0 0 !important;
}

.events_schedule_tab .nav-tabs .nav-item:last-child .nav-link {
    border-radius: 0 0 0 40px !important;
}

.events_schedule_tab .tab-content {
    padding: 50px;
    background-color: #ffffff;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 170px);
    flex: 0 0 calc(100% - 170px);
    max-width: calc(100% - 170px);
    width: calc(100% - 170px);
}

.tab-timing {
    position: relative;
    z-index: 1;
}

.tab-timing .nav-link.active:after {
    display: none;
}

.events_schedule_tab .tab-timing .nav-item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.events_schedule_tab .tab-timing .nav-link {
    border: 2px solid #ebebeb;
    display: block;
    padding: .5rem 1rem;
    background-color: #fff !important;
    text-align: center;
    border-radius: 0 !important;
    position: relative;
    z-index: 1;
    margin: 0 20px 0 0;
    font-size: 14px;
    font-weight: 700;
}

.events_schedule_tab .tab-timing .nav-link.active {
    border: 2px solid #e73c57;
    color: #fff;
    background-color: #e74c3c !important;
}

.events_schedule_tab .tab-timing .tab-content {
    padding: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
}

.single-event--item {
    position: relative;
    z-index: 1;
}

.single-event--item .event-thumbnail {
    position: relative;
    z-index: 1;
    width: 145px;
    max-width: 145px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 145px;
    flex: 0 0 145px;
    height: 145px;
    background-size: cover;
    background-position: center center;
    border-radius: 30px 0;
    margin-top: 8px;
    margin-top: .5rem;
}

.single-event--item .event-thumbnail:after {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(3, 50, 66, 0.85);
    content: "";
    border-radius: 30px 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.single-event--item .event-thumbnail:hover:after {
    opacity: 1;
    visibility: visible;
}

.single-event--item .event-thumbnail a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 6.4px 12.8px 4.8px;
    padding: 0.4rem 0.8rem 0.3rem;
    border: 1px solid #fff;
    border-radius: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 110px;
    visibility: hidden;
    opacity: 0;
}

.single-event--item .event-thumbnail:hover a {
    opacity: 1;
    visibility: visible;
}

.single-event--item .event-content a {
    font-size: 20px;
    font-size: 1.25rem;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.single-event--item .event-content span {
    font-size: 14px;
    margin-right: 15px;
    color: #e73c57;
}

.single-event--item .event-content span i {
    font-size: 14px;
    margin-right: 5px;
    color: #333;
}

/* Contact 2 CSS */

.contact {
    position: relative;
    z-index: 1;
}

.contact .contact_form h3 {
    text-align: center;
    text-transform: uppercase;
    color: #141414;
    padding-bottom: 60px;
    margin-bottom: 0;
}

.contact .contact_form .form-inline {
    text-align: center;
}

.contact .contact_form .form-inline input {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
    height: 60px;
    font-size: 13px;
    padding: 20px 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    float: left;
    border: 1px solid #ebebeb;
}

.contact .contact_form .form-inline input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #e73c57;
}

.contact .contact_form .form-inline textarea {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 30px;
    outline: none;
    resize: none;
    border: 1px solid #ebebeb;
    font-size: 13px;
}

.contact .contact_form .form-inline textarea:focus {
    outline: none;
    border: 1px solid #e73c57;
}

.contact .contact_form .form-inline a {
    display: inline-block;
    padding: 15px 30px;
    background: #e73c57;
    color: #fff;
    border-radius: 50px;
    text-transform: capitalize;
    font-weight: 700;
}

/* Footer CSS */

.footer_area {
    background: #151515;
}

.footer_area .footer_top {
    padding: 35px 0;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_area .footer_top img {
    height: 50px;
}

.footer_area .footer_bottom .left {
    color: #a1b1bc;
    padding: 35px 0;
}

.footer_area .footer_bottom .left span {
    color: #e73c57;
}

/* Breadcrumb CSS */

.breadcrumb-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: 0 0;
}

.breadcrumb-area:after {
    content: '';
    position: absolute;
    background-color: #070a57;
    opacity: 0.7;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.breadcrumb-text {
    margin-top: 70px;
}

.breadcrumb-text h2 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    font-weight: 800;
}

.breadcrumb-text h2 span {
    color: #e74c3c;
}

.breadcrumb-text h6 {
    color: #fff;
    margin-bottom: 0;
    font-size: 18px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Responsive CSS */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main_page .event_info {
        width: 975px;
    }

    .main_page>.container {
        height: 807px;
    }

    .main_page .event_info .event_info_describe .item .icon_side a i {
        width: 70px;
        height: 70px;
        line-height: 70px;
    }

    .main_page .event_info .event_info_describe .item .icon_side {
        padding-right: 15px;
    }

    .events_schedule_tab .tab-content {
        padding: 40px;
    }

    .speakers .slider_area .speaker_car {
        width: 461px;
    }

    .pricing .table_part {
        padding: 0;
    }

    .main_page .event_info .event_info_describe .item .media-body p {
        font-size: 13px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main_page .event_info {
        width: 750px;
    }

    .main_page {
        height: 860px;
    }

    .main_page>.container {
        height: 693px;
        padding-top: 91px;
    }

    .navbar-toggler {
        border: 2px solid rgba(255, 255, 255, 0.5);
    }

    ul.navbar-nav {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .get-ticket .btn {
        margin-left: 0;
    }

    .menu_part .navbar-nav li:before {
        width: 85px;
        left: 0;
    }

    .main_page .count_down h2 {
        font-size: 2rem;
    }

    .main_page .count_down h4 {
        font-size: 1.2rem;
    }

    .main_page .event_info .event_info_describe .item .icon_side a i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 26px;
    }

    .main_page .event_info .event_info_describe .item .icon_side {
        padding-right: 15px;
    }

    .main_page .event_info .event_info_describe .item h4 {
        font-size: 1rem;
    }

    .main_page .event_info .event_info_describe .item .media-body p {
        font-size: 12px;
    }

    .main_page .event_info .event_info_describe {
        padding: 0 15px;
    }

    .main_page .count_down ul li span {
        font-size: 42px;
    }

    .event .event_inside .event_right {
        height: 400px !important;
        border-radius: 0 0 50px 50px;
    }

    .events_schedule_tab .tab-timing .nav-link {
        margin: 0 10px 10px 0;
    }

    .single-event--item .event-thumbnail {
        width: 90px;
        max-width: 90px;
        height: 90px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 90px;
        flex: 0 0 90px;
    }

    .single-event--item .event-content a {
        font-size: 1rem;
    }

    .single-event--item .event-content p {
        height: 50px;
        overflow: hidden;
    }

    .events_schedule_tab .tab-content {
        padding: 30px;
    }

    .speakers .slider_area .speaker_car {
        width: 284px;
    }

    .pricing .table_part {
        padding: 0;
    }

    .ticket .booking_ticket .register_form form a {
        border-radius: 70px;
        margin-top: 1rem;
    }

    .register_form form .col-12:nth-child(3) input {
        border-radius: 0 70px 70px 0 !important;
    }

    .feature-post {
        height: 500px;
        margin-bottom: 2rem;
    }

    .main_page .event_info .event_info_describe .item .icon_side a {
        border-radius: 15px 0;
    }

    .blogs .blogs_inner .blog_item .item_image {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 220px;
        flex: 0 0 220px;
        max-width: 220px;
        width: 220px;
    }

    .blogs .blogs_inner .blog_item .item_describe {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 220px);
        flex: 0 0 calc(100% - 220px);
        max-width: calc(100% - 220px);
        width: calc(100% - 220px);
    }

    .contact-area .contact_info {
        left: 10%;
    }

    .breadcrumb-text h2 {
        font-size: 42px;
    }
}

@media only screen and (max-width: 767px) {
    .main_page .event_info {
        width: 100%;
    }

    .navbar-toggler {
        border: 2px solid rgba(255, 255, 255, 0.5);
    }

    ul.navbar-nav {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .get-ticket .btn {
        margin-left: 0;
    }

    .menu_part .navbar-nav li:before {
        width: 85px;
        left: 0;
    }

    .single-event--item {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .events_schedule_tab .d-flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .speakers .slider_area .speaker_car {
        bottom: -90px;
        width: 100%;
    }

    .contact-area .contact_info {
        width: 260px;
        left: 10%;
        padding: 30px 15px;
    }

    .contact-area .contact_info .widget ul li .fleft {
        font-size: 14px;
    }

    .main_page .count_down h2 {
        font-size: 1.5rem;
    }

    .main_page .count_down h4 {
        font-size: 1.2rem;
    }

    .main_page .count_down ul li span {
        font-size: 26px;
    }

    .main_page .count_down ul li {
        margin: 0 .3rem;
        border-radius: 30px 0;
    }

    .main_page .count_down ul .minit {
        border-radius: 0 30px;
    }

    .main_page .count_down ul li p {
        font-size: 10px;
    }

    .events_schedule_tab .tab-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }

    .main_page .event_info .event_info_describe {
        padding: 7.5px 0;
        border-right: none;
    }

    .main_page .event_info .event_info_describe .item .icon_side a i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 24px;
    }

    .main_page .event_info .event_info_describe .item h4 {
        font-size: 1rem;
    }

    .main_page .event_info .event_info_describe .item .icon_side a {
        border-radius: 15px 0;
    }

    .main_page .event_info .event_info_describe .item .icon_side {
        padding-right: 15px;
    }

    .main_page .count_down ul {
        margin: 40px 0 0 0;
    }

    .main_page .event_info {
        border-radius: 50px 50px 0 0;
    }

    .event .event_inside .event_right {
        height: 300px !important;
        border-radius: 0 0 50px 50px;
    }

    .events_schedule_tab .nav.nav-tabs {
        padding: 3rem 1rem;
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        width: 100%;
        border-radius: 30px 30px 0 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .single-event--item .event-thumbnail {
        width: 130px;
        max-width: 130px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
        flex: 0 0 130px;
        height: 130px;
    }

    .sec_header h2 {
        font-size: 1.75rem;
    }

    .events_schedule_tab .nav-link {
        padding: 0.75rem 0;
    }

    .events_schedule_tab .tab-content {
        padding: 1.5rem;
    }

    .events_schedule_tab .tab-timing .nav-link {
        margin: 0 10px 10px 0;
    }

    .single-event--item .event-thumbnail {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .single-event--item .event-content p {
        height: 50px;
        overflow: hidden;
    }

    .newsletter .content form .input-group .form-control {
        width: 0;
    }

    .newsletter .content form .input-group .sub_btn {
        width: 150px;
    }

    .speakers .slider_area .slides li .speakers_right {
        padding: 20px;
    }

    .speakers .slider_area .slides li .speakers_right h4 {
        font-size: 20px;
    }

    .speakers .slider_area .slides li .speakers_right h5 {
        font-size: 14px;
    }

    .speakers {
        padding-bottom: 190px;
    }

    .contact-area .contact_info {
        background: rgba(3, 50, 66, 0.75);
    }

    .pricing .table_part {
        padding: 0;
        margin-top: 1rem;
    }

    .biggest_event .biggest_event_describe p:last-child {
        margin-bottom: 1rem;
    }

    .advanced .advanced_bg .advanced_left .advanced_left_inner h3 {
        font-size: 1.25rem;
    }

    .advanced .advanced_bg .advanced_left .advanced_left_inner ul li a span {
        padding-left: 10px;
        font-size: 13px;
    }

    .ticket .booking_ticket .register_form form .form-group input {
        margin-bottom: 1rem;
    }

    .ticket .booking_ticket .register_form form a {
        border-radius: 70px;
    }

    .ticket .booking_ticket .register_form form .form-group label {
        border-radius: 60px 0 0 60px;
    }

    .ticket .booking_ticket .register_form form .form-group input {
        border-radius: 0 60px 60px 0;
    }

    .feature-post {
        height: 400px;
        margin-bottom: 2rem;
    }

    .portfolio-menu {
        padding: 20px;
    }

    .events_schedule_tab .nav-link h5 {
        font-size: 1rem;
    }

    .events_schedule_tab .nav-link p {
        font-size: 12px;
    }

    .events_schedule_tab .nav-tabs .nav-item:first-child .nav-link,
    .events_schedule_tab .nav-tabs .nav-item:last-child .nav-link {
        border-radius: 0 !important;
    }

    .breadcrumb-text h2 {
        font-size: 2rem;
    }

    .blogs .blogs_inner .blog_item {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .blogs .blogs_inner .blog_item .item_image {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }

    .blogs .blogs_inner .blog_item .item_describe {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        padding-left: 0;
        padding-top: 50px;
    }

    .blogs .blogs_inner .author .members_area .member .media .media-left a img {
        border-radius: 15px 0;
        width: 60px;
        height: 60px;
    }

    .blogs .blogs_inner .author .members_area .member .media .media-left {
        padding-right: 15px;
    }

    .blogs .blogs_inner .author .members_area .member .media .member_details a {
        top: 75px;
        width: 70px;
        right: 103%;
    }

    .events_schedule_tab .nav-tabs .nav-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83px;
        flex: 0 0 83px;
        max-width: 83px;
        width: 83px;
    }

    .main_page>.container {
        height: 613px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 430px;
    }

    .main_page>.container {
        height: 594px;
    }

    .contact-area .contact_info {
        width: 315px;
        left: 10%;
    }

    .main_page {
        height: 900px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .main_page .event_info .event_info_describe {
        padding: 10px;
    }

    .main_page .event_info .event_info_describe .item .media-body p {
        margin: 0;
        font-size: 13px;
    }

    .container {
        width: 100%;
        max-width: 540px;
    }

    .main_page>.container {
        height: 612px;
    }

    .single-event--item {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }

    .newsletter .content form .input-group .form-control {
        width: 320px;
    }

    .main_page {
        height: 875px;
    }
}